<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">     
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="blank-translucent">  
<meta content="telephone=no" name="format-detection">
<title>国家企业信用信息公示系统-列表</title>
<link rel="stylesheet" href="css/main.css">  
<link type="text/css" href="css/CSS3.css" rel="stylesheet"/>
<link href="fontawesome-4.2.0_ie7/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link href="fontawesome-4.2.0_ie7/4.2.0/css/font-awesome-ie7.min.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/loaders.css">
<script type="text/javascript" src="js/jquery-1.8.0.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/commonpath.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>

<body class="bg">
<header class="list_1">
    <ul>
         <li><a href="index.html"><i class="fa fa-angle-left"></i></a></li>
         <li class="list_1_1box">
             <div class="list_1_1"><input class="searchtext" value="请输入要查询的内容" type="text"/><i class="fa fa-search" onclick="search()"></i> </div>
         </li>
    </ul>
    <!--------------------搜索匹配----------------------------->
   <div class="search_content02" style="display:none;">
        <ul>
            
        </ul>  
        <div class="close_search">关闭</div>  
   </div>
    <!--------------------搜索匹配----------------------------->
</header>

<section class="list_content" style="z-index:1">
 <div id="wrapper" style=" z-index:1">
	<div id="scroller">
		<div id="pullDown" style="display:none">
			<span class="pullDownLabel"></span>
		</div>
		<ul id="thelist">
			<script id="datalist" type="text/html">
			{{each}}
            <li class="list_2">
                <div class="list_2_1">
                	 {{if $value.CAT18 ==1 || $value.CAT18 ==10}}
                     <a href="javascript:void(0);" onclick="toUrlAndSaveParam('xq_jcxx.html','{{$value.BUSEXCEPTCOUNT}}','{{$value.ENTTYPE}}','{{$value.PRIPID}}','{{$value.S_EXT_NODENUM}}','{{$value.CAT18}}')">
                     {{/if}}
                     {{if $value.CAT18 ==2 || $value.CAT18 ==4 || $value.CAT18 ==6 || $value.CAT18 ==8 || $value.CAT18 ==9 || $value.CAT18 ==11 || $value.CAT18 ==13 || $value.CAT18 ==14}}
                     <a href="javascript:void(0);" onclick="toUrlAndSaveParam('xq_jcxx_2_4_6_8_9_11_13_14.html','{{$value.BUSEXCEPTCOUNT}}','{{$value.ENTTYPE}}','{{$value.PRIPID}}','{{$value.S_EXT_NODENUM}}','{{$value.CAT18}}')">
                     {{/if}} 
                     {{if $value.CAT18 ==3}}
                     <a href="javascript:void(0);" onclick="toUrlAndSaveParam('xq_jcxx_3.html','{{$value.BUSEXCEPTCOUNT}}','{{$value.ENTTYPE}}','{{$value.PRIPID}}','{{$value.S_EXT_NODENUM}}','{{$value.CAT18}}')">
                     {{/if}} 
                     {{if $value.CAT18 ==15}}
                     <a href="javascript:void(0);" onclick="toUrlAndSaveParam('xq_jcxx_15.html','{{$value.BUSEXCEPTCOUNT}}','{{$value.ENTTYPE}}','{{$value.PRIPID}}','{{$value.S_EXT_NODENUM}}','{{$value.CAT18}}')">
                     {{/if}} 
                     {{if $value.CAT18 ==5 || $value.CAT18 ==12}}
                     <a href="javascript:void(0);" onclick="toUrlAndSaveParam('xq_jcxx_5_12.html','{{$value.BUSEXCEPTCOUNT}}','{{$value.ENTTYPE}}','{{$value.PRIPID}}','{{$value.S_EXT_NODENUM}}','{{$value.CAT18}}')">
                     {{/if}}
                      {{if $value.CAT18 ==7}}
                     <a href="javascript:void(0);" onclick="toUrlAndSaveParam('xq_jcxx_7.html','{{$value.BUSEXCEPTCOUNT}}','{{$value.ENTTYPE}}','{{$value.PRIPID}}','{{$value.S_EXT_NODENUM}}','{{$value.CAT18}}')">
                     {{/if}}
                     {{if $value.CAT18 ==16}}
                     <a href="javascript:void(0);" onclick="toUrlAndSaveParam('xq_jcxx_16.html','{{$value.BUSEXCEPTCOUNT}}','{{$value.ENTTYPE}}','{{$value.PRIPID}}','{{$value.S_EXT_NODENUM}}','{{$value.CAT18}}')">
                     {{/if}}
                      {{if $value.CAT18 ==17}}
                     <a href="javascript:void(0);" onclick="toUrlAndSaveParam('xq_jcxx_17.html','{{$value.BUSEXCEPTCOUNT}}','{{$value.ENTTYPE}}','{{$value.PRIPID}}','{{$value.S_EXT_NODENUM}}','{{$value.CAT18}}')">
                     {{/if}}
                      {{if $value.CAT18 ==18}}
                     <a href="javascript:void(0);" onclick="toUrlAndSaveParam('xq_jcxx_18.html','{{$value.BUSEXCEPTCOUNT}}','{{$value.ENTTYPE}}','{{$value.PRIPID}}','{{$value.S_EXT_NODENUM}}','{{$value.CAT18}}')">
                     {{/if}}
                         <ul>
                             <li class="list_2_1_title">{{$value.ENTNAME}}</li>
                            {{if $value.UNISCID == "" || $value.UNISCID == "{}"}} <li>注册号 <span> {{$value.REGNO}}</span></li>{{else}}<li>统一社会信用代码 <span> {{$value.UNISCID}}</span></li>{{/if}}
                             <li>{{$value.CAT2NAME}} <span> {{$value.NAME}}</span></li>
                             <li>成立日期 <span> {{$value.ESTDATE}}</span></li>
                             <li><div class="list_2_1_cx">{{$value.REGSTATE_CN}}</div><span></span></li>
                         </ul>
                         <div class="list_2_1_jt"><i class="fa fa-angle-right"></i></div> 
                     </a> 
                 </div>
            </li>
            {{/each}}
            </script>
        <!-------列表循环区域，可删除--------->  
             
        <!-------列表循环区域，可删除--------->
		</ul>
		<div id="pullUp" style="display: none;">
			<span class="pullUpLabel">上拉加载更多</span>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/iscrolllist.js"></script>
<script type="text/javascript" src="js/down.js"></script>
<script type="text/javascript" src="js/search.js"></script>
<!----------输入框自动聚焦------------->
<script src="js/mui.min.js"></script>
<script>
			var nativeWebview, imm, InputMethodManager;
			var initNativeObjects = function() {
				if (mui.os.android) {
					var main = plus.android.runtimeMainActivity();
					var Context = plus.android.importClass("android.content.Context");
					InputMethodManager = plus.android.importClass("android.view.inputmethod.InputMethodManager");
					imm = main.getSystemService(Context.INPUT_METHOD_SERVICE);
				} else {
					nativeWebview = plus.webview.currentWebview().nativeInstanceObject();
				}
			};
			var showSoftInput = function() {
			var nativeWebview = plus.webview.currentWebview().nativeInstanceObject();
			if (mui.os.android) {
				//强制当前webview获得焦点
				plus.android.importClass(nativeWebview);
				nativeWebview.requestFocus();
				imm.toggleSoftInput(0, InputMethodManager.SHOW_FORCED);
			} else {
				nativeWebview.plusCallMethod({
					"setKeyboardDisplayRequiresUserAction": false
				});
			}
			setTimeout(function() {
			   //此处可写具体逻辑设置获取焦点的input
			   var inputElem = document.querySelector('input');
					  inputElem.focus(); 
			}, 200);
		};
		
			mui.plusReady(function() {
				initNativeObjects();
				showSoftInput();
			});
		</script>
</section>
</body>
</html>
